/* a) Reset and normalize */
button, iframe, img {
  border: 0; }

*, :after, :before {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font: 16px/1 sans-serif; }

blockquote, button, figure, h1, h2, h3, h4, h5, ol, p, ul {
  margin: 0;
  padding: 0; }

li, main {
  display: block; }

h1, h2, h3, h4, h5, p {
  font-size: inherit; }

strong {
  font-weight: 700; }

sup {
  position: relative;
  top: -.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline; }

a, button {
  color: inherit;
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  font: inherit;
  letter-spacing: inherit;
  background: 0 0;
  cursor: pointer;
  -webkit-font-smoothing: inherit; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto; }

/* b) Mixins */
/* colors */
.concrete {
  background-color: #95a5a6; }

.purple {
  background-color: #9b59b6; }

.clouds {
  background-color: #ecf0f1; }

.red {
  background-color: #d35400; }

.dk-purple {
  background-color: #8e44ad; }

.containter {
  clear: both;
  margin: 0 auto;
  padding: 0; }

/* The Bear */
/* The Board */
.theBoard {
  height: 800px;
  width: 800px;
  margin: 100px auto;
  position: relative; }

.theBoard__target {
  border-radius: 50%;
  background-image: url("http://lovelace-media.imgix.net/uploads/25/378bc2a0-4376-0133-9d86-0af7184f89fb.gif?");
  background-size: cover;
  background-position: center;
  font-family: Helvetica;
  font-size: 16px;
  height: 100px;
  left: 350px;
  position: absolute;
  text-align: center;
  top: 350px;
  width: 100px; }

.theBoard__scoreBoard {
  color: #34495e;
  font-family: Helvetica;
  font-size: 36px;
  height: 80px;
  padding-top: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100px; }

.theBoard__marquee {
  color: #34495e;
  font-family: Helvetica;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 20px;
  margin-top: 20px; }

.trumpBg {
  background-image: url("http://lovelace-media.imgix.net/uploads/25/378bc2a0-4376-0133-9d86-0af7184f89fb.gif?");
  background-size: cover; }

.youWin {
  color: #e74c3c;
  font-family: Helvetica;
  font-size: 64px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }
